.gallery {
    display: flex;
    padding: 2%;
    column-gap: 20px;
}


.list, .main__list {
    display: flex;
    gap: 2rem;
}

.main {
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 3.125rem;
}

.gallery__section {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    max-width: 500px;
}


// end of Gallery

//  Footer Social

footer {
    margin-top: 50px;
}

.socialfooter {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
}